---
import Author from "@/components/Author.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { InferEntrySchema } from "astro:content";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const wordPressPosts = await getCollection("wordpressExport");

const allPosts = [...posts, ...wordPressPosts].sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const authorEntries = await getCollection("authors");
const authors: { [key: string]: InferEntrySchema<"authors"> } = {};

for (const author of authorEntries) authors[author.id] = author.data;

const latestPost = allPosts[0];
const latestPostAuthor =
    authors[latestPost.data.author.id] || latestPost.data.author.id;
const latestPostUrl =
    latestPost.collection === "wordpressExport"
        ? `/${latestPost.id}`
        : `/posts/${latestPost.id}`;
---

<BaseLayout title="UK Gov Camp">
    <div class="accent">
        <p>
            #ukgc26 is on 17 January 2026 at Birmingham City <a href="https://maps.app.goo.gl/ADdPNLXfjcfFEnDk7"  target="_blank">Council House</a>.
        </p>
        <p>
            Register <a href="https://forms.gle/tL5q1ZBHYxAqE37w6" target="_blank">here</a> and if you'd like to sponsor then head over to the <a href="https://www.ukgovcamp.com/become-a-sponsor/">become a sponsor page</a>.
        </p>
    </div>
    <h2>About</h2>
    <p>
        UKGovCamp is a free, annual unconference for people who want to make the
        public sector better.
    </p>
    <h2>Past events</h2>
    <p>
        The agenda is set by the people who turn up, using the well establised
        unconference format.
    </p>
    <h2>Sponsors</h2>
    <p>
        Sponsors help us make accessible, memorable events. Leftover funds go
        into our grant fund.
    </p>
    <div class="accent">
        <h2>Latest news</h2>
        <h3>
            <a href={latestPostUrl}>{latestPost.data.title}</a>
        </h3>
        {
            latestPost.collection === "posts" && latestPost.data.excerpt ? (
                <p>{latestPost.data.excerpt}</p>
            ) : (
                ""
            )
        }
        <p>
            Posted on {latestPost.data.date.toLocaleDateString()} by <Author
                author={latestPostAuthor}
            />
        </p>
    </div>
</BaseLayout>
