---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { InferEntrySchema } from "astro:content";
import Author from "@/components/Author.astro";

const wordpressPosts = await getCollection("wordpressExport");
const posts = await getCollection("posts");

const allPosts = [...posts, ...wordpressPosts].sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);

const authorEntries = await getCollection("authors");
const authors: { [key: string]: InferEntrySchema<"authors"> } = {};

for (const author of authorEntries) authors[author.id] = author.data;
---

<BaseLayout title="News">
    {
        allPosts.map((post) => {
            const author = authors[post.data.author.id] || post.data.author.id;
            const url = post.collection === "wordpressExport" ? `/${post.id}` : `/posts/${post.id}`

            return (
                <article>
                    <h2>
                        <a href={url}>{post.data.title}</a>
                    </h2>
                    {
                        post.collection === "posts" && post.data.excerpt ? (
                            <p>{post.data.excerpt}</p>
                        ) : (
                            ""
                        )
                    }
                    <p>
                        Posted on {post.data.date.toLocaleDateString()} by <Author author={author}></Author>
                    </p>
                </article>
                <hr></hr>
            )
        })
    }
</BaseLayout>
