---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Sponsor from "../components/Sponsor.astro";
import ImageDxw from "../images/dxw.png";
import ImageSocietyWorks from "../images/societyworks.png";
import ImagePaper from "../images/paper.png";
import ImageFaculty from "../images/Faculty.png";
import ImageSoftwire from "../images/softwire.jpg";
import ImageTorchbox from "../images/torchbox.png";
import ImageDelib from "../images/delib.png";
import ImageJadu from "../images/jadu.png";
import ImageMethods from "../images/methods.svg";
---

<BaseLayout title="Our Sponsors">
    <h1>UKGovCamp 2026 (#ukgc26) sponsors</h1>
    <p>
        Interested in sponsoring? Please visit our <a
            href="/become-a-sponsor">become a sponsor</a
        > page.
    </p>

    <h2>Diamond Sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={ImageFaculty}
            name="Faculty"
            link="https://faculty.ai/"
        />
        <Sponsor
            image={ImageJadu}
            name="Jadu"
            link="https://www.jadu.net/"
        />
        <Sponsor
            image={ImageSoftwire}
            name="Softwire"
            link="https://www.softwire.com/"
        />
    </div>

    <h2>Platinum Sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={ImageDxw}
            name="Dxw"
            link="https://www.dxw.com/"
        />
        <Sponsor
            image={ImageMethods}
            name="Methods"
            link="https://www.methods.co.uk/"
        />
        <Sponsor
            image={ImageSocietyWorks}
            name="SocietyWorks"
            link="https://www.societyworks.org/"
        />
    </div>

    <h2>Gold sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={ImageDelib}
            name="Delib"
            link="https://www.delib.net/"
        />
        <Sponsor
            image={ImageTorchbox}
            name="Torchbox"
            link="https://torchbox.com/"
        />
    </div>

    <h2>Silver sponsors</h2>
    <div class="sponsors">
    </div>

    <h2>Bronze sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={ImagePaper}
            name="Paper"
            link="https://paper.studio/"
        />
    </div>

</BaseLayout>
