---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Sponsor from "../components/Sponsor.astro";
import ImageDxw from "../images/dxw.png";
import ImageSocietyWorks from "../images/societyworks.png";
---

<BaseLayout title="Our Sponsors">
    <h1>UKGovCamp 2026 (#ukgc26) sponsors</h1>
    <p>
        Interested in sponsoring? Please visit our <a
            href="/become-a-sponsor">become a sponsor</a
        > page.
    </p>

    <h2>Diamond Sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={Jadu}
            name="Jadu"
            title=""
            link="https://www.jadu.net/"
        />
    </div>
    <div class="sponsors">
        <Sponsor
            image={Softwire}
            name="Softwire"
            title=""
            link="https://www.softwire.com/"
        />
    </div>

    <h2>Platinum Sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={Dxw}
            name="Dxw"
            link="https://www.dxw.com/"
        />
    </div>
    <div class="sponsors">
        <Sponsor
            image={Methods}
            name="Methods"
            link="https://www.methods.co.uk/"
        />
    </div>
    <div class="sponsors">
        <Sponsor
            image={SocietyWorks}
            name="SocietyWorks"
            link="https://www.societyworks.org/"
        />
    </div>

    <h2>Gold sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={}
            name=""
            link=""
        />
    </div>

    <h2>Silver sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={}
            name=""
            link=""
        />
    </div>

    <h2>Bronze sponsors</h2>
    <div class="sponsors">
        <Sponsor
            image={Paper}
            name="Paper"
            link="https://paper.studio/"
        />
    </div>

</BaseLayout>
